@media only screen and (max-width:800px) {
    body {
        width: 75%;
        margin: 0 auto;
    }

   #back-to-home img {
        position: fixed;
        padding: 2rem 0;
        left: 0.5rem;
        top: 5.14rem;
    }

    #back-to-home img:hover {
        left: .001rem;
    }

    header {
        width: 100%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.25rem;
        margin: 16px auto 0 auto;
    }

    h3 {
        text-align: center;
    }

    .experience-description {
        display: block;
        text-align: center;
    }

    .skills {
        display: block;
    }

    .skills ul {
        justify-content: center;
    }

}